<h1>Login page</h1>
<% if (messages.error) { %>
<p class="error"><%= messages.error %></p>
<% } %>
<form method="post" action="/login">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
  </div>
  <input type="submit" value="Login" />
  <a href="/register">Register</a>
</form>
